<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label>
      First Name:
      <input type="text" formControlName="firstName" required>
    </label>
  
    <label>
      Last Name:
      <input type="text" formControlName="lastName">
    </label>
    <label>
       fone:
        <input type="text" formControlName="fone">
      </label>
      <p *ngIf="profileForm.get('fone').dirty&&profileForm.get('fone').errors&&profileForm.get('fone').errors['fonevalidator']">Telefone Invalido</p>
      <label>
        operator:
        <select class="custom-select"  formControlName="operator">
            <option value="" disabled>Choose your operator</option>
            <option *ngFor="let operator of operators" [ngValue]="operator.id">{{operator.value}}</option>
         </select>
       </label>

       <label *ngIf="currentRefillValues.length">
        Value to Refill:
        <select class="custom-select"  formControlName="refillValue">
            <option value="" disabled>Escolha o valor de recarga</option>
            <option *ngFor="let refill of currentRefillValues" [ngValue]="refill">{{refill |  currency:'BRL' }}</option>
         </select>
       </label>

  
   
  
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
  
  <hr>
  
  
  <p>
    Form Value: {{ profileForm.value | json }}
  </p>
  
  
  <p>
    Form Status: {{ profileForm.status }}
  </p>
  
 
  
  
 